body {
    background-color: #f5f5f7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
  }
  
  /* HEADER  */
  
  header {
    display: block;
    height: 45px;
    width: 100%;
    display: block;
    background-color: white;
    text-align: left;
    margin-bottom: 70px;
  }
  
  header img {
    width: 100px;
    display: inline-block;
    margin: 10px 200px;
  }
  
  .navbar {
    padding-top: 30px;
    margin: auto;
    width: 50%;
    height: 30px;
    border-bottom: 0.5px solid rgb(0, 0, 0);
  }
  
  .navbar p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
  
  .navbar h1{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
  
  .navbar a {
    margin: auto;
    float: right;
    text-decoration: none;
    color: black;
    padding-left: 50px;
    margin-top: 5px;
  }
  
  .button3 {
    margin: auto;
    float: right;
    text-decoration: none;
    background: linear-gradient(0deg,rgba(106, 72, 224, 1) 0%,rgba(176, 153, 252, 1) 100%);
    border: none;
    color: white;
    padding: 4px 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
  }
  .button4{
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    background: linear-gradient(0deg,rgba(106, 72, 224, 1) 0%,rgba(176, 153, 252, 1) 100%);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 10px;
  }
  .button5{
  margin: 0px 20px 0px 20px;
    text-decoration: none;
    background: linear-gradient(0deg,rgba(106, 72, 224, 1) 0%,rgba(176, 153, 252, 1) 100%);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 10px;
  }
  .container {
    padding-top: 50px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .container img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: white;
    width: 25%;
    border-radius: 10px;
    height: 70px;
  }
  .service {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  /**
  *employee overview
  */

  .titleBox{
    text-align: center;
  }
  
  .serviceBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    height: 70px;
  }

  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .serviceContent{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dateText{
    color: red;
  }

  .container {
    padding-top: 50px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .employeeContainer {
    padding-top: 50px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .service p{
    margin: 0px 20px 0px 20px;
    font-size: 16px;
  }
  .hardware{
    width: 25%;
  }
  .hardware form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:auto;
  }
  
  #hardware-options {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 0px;
  }
  
  #onderwerp {
    margin: 10px 0px 10px 0px;
    width: -webkit-fill-available;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 0px;
  }
  #problem {
    margin: 10px 0px 10px 0px;
    width: -webkit-fill-available;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
    border: 0px;
  }
  
  .support {
    width : 25%;
  }
  .support form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:auto;
  }
  #support-options {
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 0px;
  } 

  .logo-login {
    width: 30%;
    margin-bottom: 40px;
  }
  
  .button-1.login {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .histories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    height: 70px;
  } */

  .history {
    margin-top: 20px;
    width: 25%;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .history p {
    margin: auto;
    margin-left: 10px;
    font-size: 13px;
  }

  .statusBox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .statusBox a {
    align-self: flex-end;
    margin-left: 620px;
  }

  .statusBox p {
    align-self: flex-start
  }

  .servicesEmployee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 10px;
  }
